@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-default: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-default: #252b30;
  }
}

/* cool scrollbar */
::-webkit-scrollbar {
  width: 0.19rem;
  height: 5px;
  display: block;
}
::-webkit-scrollbar-thumb {
  background: rgba(6, 181, 212, 0.521);
  border-radius: 8px;
}

/* scroll end */

[data-theme="dark"] {
  --color-default: #252b30;
  color: #fff;
}

[data-theme="light"] {
  --color-default: #e7f9ff;
}

body {
  /* background-color: var(--color-default); */
  line-height: 1.6em;
}
